@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f7fc;
  --foreground: #171717;
  --main-50: #2c05e6;
  --main-200: #1d0bbf;
  --main-400: #160180;
  --main-600: #17056e;
  --main-800: #100157;
}

/* ct = custom */
/* .ct-top-menu-expanded {
  @apply absolute top-10 z-50 bg-white;
} */
.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:absolute after:bottom-0 after:left-0 after:bg-blue-500 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300;
}

.ct-icon {
  @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.ct-sub-headline {
  @apply  flex justify-center items-center mb-24;
}

.ct-sub-headline-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-[20px];
}

.ct-sub-headline-deco-line{
  @apply w-12 h-px bg-gray-400;
}

.ct-button {
  @apply text-center uppercase tracking-wider py-4 px-8 text-[14] font-semibold cursor-pointer hover:bg-opacity-90;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Be Vietnam Pro, Arial, Helvetica, sans-serif;
}

.homeBannerSection {
  @apply relative overflow-hidden;
}

.homeBannerSection .slick-arrow {
  @apply absolute top-1/2 z-[2] flex items-center content-center w-10 h-10 bg-slate-400 rounded-full
}
.homeBannerSection .slick-arrow.slick-next {
  @apply right-7
}
.homeBannerSection .slick-arrow.slick-prev {
  @apply left-7 
}

.nav li .submenu button { @apply font-normal}
.nav li:hover .submenu{ @apply opacity-[1]  top-[100%];}
.nav li .submenu li:hover .button-lv1{ @apply !text-[#ff5252]}
.nav li .submenu li .submenu{ @apply top-[0%] left-[120%] opacity-0 ;}
.nav li .submenu li:hover .submenu{ @apply left-full  opacity-[1] ;}
.nav li .submenu li .submenu button{ @apply font-normal bg-[ring-gray-700] ;}
.nav li .submenu li .submenu button:hover{ @apply !text-[#ff5252] ;}


/* For the swiper-button-prev and swiper-button-next */
.swiper-button-prev,
.swiper-button-next {
  @apply flex items-center justify-center bg-white rounded-full w-[45px] h-[45px] min-w-[45px] shadow-[1px_3px_#ff5252,0_1px_2px_#ff5252] !important;
}

/* For the after pseudo-elements */
.swiper-button-prev:after,
.swiper-button-next:after {
  @apply text-[22px] text-black !important;
}

/* For homeCatSlider */
.homeCatSlider {
  @apply overflow-visible !important;
}

/* For swiper-button-prev and swiper-button-next inside homeCatSlider */
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  @apply w-[30px] h-[30px] min-w-[30px];
}

/* For the after pseudo-elements inside homeCatSlider */
.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  @apply text-[16px] !important;
}

/* Position adjustments for prev and next buttons inside homeCatSlider */
/* .homeCatSlider .swiper-button-prev {
  @apply left-[-10px] !important;
}

.homeCatSlider .swiper-button-next {
  @apply right-[-10px] !important;
} */


/* Đặt border cho phần tử .item */
.homeCatSlider .item {
  @apply border border-b-slate-400;
}

/* Hover effect cho .swiper-button-prev và .swiper-button-next */
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  @apply bg-[#ff5252] !important;
}

/* Hover effect cho các pseudo-element :after của .swiper-button-prev và .swiper-button-next */
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  @apply text-white !important;
}

/* Hover effect cho ảnh trong .item */
.homeCatSlider .item:hover img {
  @apply scale-110; /* Để áp dụng scale(1.1) */
}

.swiper-button-prev,.swiper-button-next{ @apply flex justify-center items-center bg-white rounded-full w-11 h-11 min-w-11 shadow-[0_1px_3px_rgba(238,238,238,0.12),1px_2px_rgba(238,238,238,0.24)] transition-all duration-200}

.swiper-button-prev:after,.swiper-button-next:after{@apply text-[22px] text-black !important}

.smlBtn .swiper-button-prev,.smlBtn .swiper-button-next{@apply w-[7.5] h-[7.5] min-w-[7.5] top-[55%] !important;}
.smlBtn .swiper-button-prev:after, .smlBtn .swiper-button-next:after{@apply text-[22px] text-black !important }

.MuiTabs-indicator{@apply bg-[#ff5252] !important}
.MuiTab-textColorPrimary.Mui-seclected{@apply text-[#ff5252] !important}
/* 
.productsSlider .swiper-wrapper{@apply p-[3.75] ml-[-15px] mr-[-15px] } */

